if status is-interactive
    {{ if eq .chezmoi.hostname "NAS" -}}
    fan2go completion fish | source
    {{end -}}
    zoxide init fish | source
    atuin init fish | source
    {{ if eq .chezmoi.os "darwin" -}}
    test -e /Users/amtoaer/.iterm2_shell_integration.fish; and source /Users/amtoaer/.iterm2_shell_integration.fish; or true
    {{end -}}
    string match -q "$TERM_PROGRAM" vscode; and . (code --locate-shell-integration-path fish); or true
end
