if status is-interactive
    # Commands to run in interactive sessions can go here
    {{ if eq .chezmoi.os "linux" -}}
    oh-my-posh init fish --config /usr/share/oh-my-posh/themes/emodipt-extend.omp.json | source
    {{ else if eq .chezmoi.os "darwin" -}}
    oh-my-posh init fish --config /opt/homebrew/opt/oh-my-posh/themes/emodipt-extend.omp.json | source
    test -e /Users/amtoaer/.iterm2_shell_integration.fish ; and source /Users/amtoaer/.iterm2_shell_integration.fish ; or true
    {{end -}}
    {{ if eq .chezmoi.hostname "NAS" -}}
    fan2go completion fish | source
    {{end -}}
    zoxide init fish | source
    pyenv init - | source
end
